@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-detail{
  padding: 3% 1% 1% 2%;
  background-color: #060b26;
  margin-top: 10px;
}
.main-head {
  margin-top: 80px;
}

.page-div{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F6FCF9;
  padding: 2%;
}
.page-body{
  flex-basis: 60%;

}

.section-gap{
  margin-bottom: 4rem;
}